{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-9">

        <h4 class="mb-3">Добавить запись</h4>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if error != '' %}
                <div class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">{{ error }}</div><br>
            {% endif %}
            <div class="mb-3">
                <label for="title" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Текст</label><br>
                <textarea id="text" name="text" class="form-control" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Картинка</label><br>
                <input type="file" id="image" name="image" class="form-control"><br>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Категория</label><br>
                <select id="category" name="category" class="form-control">
                    {% for category in categories %}
                        <option>{{ category.title }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
            <br><br><a href="/">Назад</a>
        </form>

    </div>

</div>

{% endblock %}
